sudo: false
language: python
cache:
  directories:
  - $HOME/.cache/pip
matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27-django-17
    - python: "2.7"
      env: TOXENV=py27-django-18
    - python: "2.7"
      env: TOXENV=py27-django-19
    - python: "2.7"
      env: TOXENV=py27-django-110
    - python: "2.7"
      env: TOXENV=py27-django-111-fix

    - python: "3.3"
      env: TOXENV=py33-django-17
    - python: "3.3"
      env: TOXENV=py33-django-18

    - python: "3.4"
      env: TOXENV=py34-django-17
    - python: "3.4"
      env: TOXENV=py34-django-18
    - python: "3.4"
      env: TOXENV=py34-django-19
    - python: "3.4"
      env: TOXENV=py34-django-110
    - python: "3.4"
      env: TOXENV=py34-django-111-fix

    - python: "3.5"
      env: TOXENV=py35-django-18
    - python: "3.5"
      env: TOXENV=py35-django-19
    - python: "3.5"
      env: TOXENV=py35-django-110
    - python: "3.5"
      env: TOXENV=py35-django-111-fix
    - python: "3.5"
      env: TOXENV=py35-django-dev DEV=True

    - python: "3.6"
      env: TOXENV=py36-django-dev DEV=True

  allow_failures:
    - env: DEV=True

install: pip install tox tox-travis coveralls wheel
script: tox
after_success: coveralls
deploy:
  provider: pypi
  user: jazzband
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    repo: jazzband/django-queued-storage
    condition: "$TOXENV = py27-django-110"
  password:
    secure: scGiNi9NXOdVaWzly7Tc65SBbC7iUVkcaO9ibBFfJq2QB0QM7es9QeXhpBz/biHbgCh40zuP8o2XmmsENxyaebb712k657YFS6fAcNmau7txCMOxDceQNoN/2OhSmGpYsegl8EdwBd4HsoB0fpLuq4bUg6OUkVkqR4pe4afq4O0=
