language: python
python:
#  - "2.5"
  - "2.6"
  - "2.7"
before_install:
  - export PIP_USE_MIRRORS=true
  - export PIP_INDEX_URL=https://simple.crate.io/
install:
  - pip install -e .
  - pip install -r requirements/tests.txt Django==$DJANGO
before_script:
  - flake8 queued_storage --ignore=E501
script:
  - django-admin.py test --settings=queued_storage.test_settings queued_storage
env:
  - DJANGO=1.3.1
  - DJANGO=1.4
branches:
  only:
    - develop
